{% extends "includes/default.html" %}
{%  block content %}
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-4">
    <div class="panel panel-danger">
        <div class="panel-heading">
                Change Password
        </div>
        <div class="panel-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-4 col-md-offset-3">
                    <div class="text-center">
                        <h3>Profile Pic</h3>

                        <div class="form-group">
                            <img src="{{ MEDIA_URL }}{{ user.image }}" class="avatar img-circle" alt="avatar">
                        </div>

                    </div>
                </div>
                    <div class="form-group">

                        
                        <input class="form-control" type="file" name="{{ form.profilepic.name }}" id="old_password_id"/>
                        {% if form.profilepic.errors %}
                            {% for error in form.profilepic.errors %}
                                <div class="isa_error">
                                    <i class="fa fa-times-circle"></i>
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}