{% extends "includes/default.html" %}
{% block breadcrum %}
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">My Account</a></li>
        <li>My Profile</li>
    </ul>

{% endblock %}
{%  block content %}
<div class="container">
     <h1 class="">Edit Profile</h1>

    <hr class="">
    <div class="row">
        <!-- left column -->
        <div class="col-md-2 col-md-offset-2">
            <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                 <h6 class="">Upload a different photo...</h6>

                <input class="form-control" type="file">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-6 personal-info">
            <div style="display: none;" class="alert alert-info alert-dismissable"> <a class="panel-close close" data-dismiss="alert">×</a>  <i class="fa fa-coffee"></i>
This
                is an <strong class="">.alert</strong>. Use this to show important messages
                to the user.</div>
             <h3 class="">Personal info</h3>

            <form class="form-horizontal" role="form" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" disabled="disabled" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" type="text">
                    </div>



                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="{{ form.firstname.name }}" value="{{ form.firstname.value|default_if_none:'' }}" type="text">
                        {% if form.firstname.errors %}

                                {% for error in form.firstname.errors %}
                                    <div class="isa_error">
                                        <i class="fa fa-times-circle"></i>
                                        {{ error|escape }}
                                    </div>

                                {% endfor %}

                            {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="{{ form.lastname.name }}" value="{{ form.lastname.value|default_if_none:'' }}" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Company:</label>
                    <div class="col-lg-8">
                                                <textarea type="textarea" id="user_bio" name="user_bio" placeholder=""
                                  class="form-control input">{{ form.user_bio.value |default_if_none:'' }}</textarea>

                        <p class="help-block"></p>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-primary" value="Save Changes" type="submit"> <span class=""></span>

                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr class="">
{% endblock %}