{% extends "includes/default.html" %}
{% block pagetitle %} My Profile {% endblock %}
{% block breadcrum %}
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">My Account</a></li>
        <li>My Profile</li>
    </ul>

{% endblock %}
{%  block content %}
<div id="loginbox" class="mainbox col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
    <div class="panel panel-danger">
        <div class="panel-heading">
                EDIT PROFILE
        </div>
        <div class="panel-body">
            <div class="row">
                <!-- left column -->
                <div class="col-md-3 col-md-offset-1">
                    <div class="text-center">
                        <h3>Profile Pic</h3>
                        <hr/>
                        <div class="form-group">
                            <img style='width:90%;' src="{{ MEDIA_URL }}{{ user.image }}" class="avatar img-circle" alt="avatar">
                        </div>
                        <div class="form-group">
                            <a class="btn btn-info" value="Update" type="" href="{% url "accounts:changeprofilepic" %} ">Change Image</a>
                        </div>
                    </div>
                </div>
                <!-- edit form column -->
                <div class="col-md-6 personal-info  col-md-offset-1">
                    <div class="text-center">
                        <h3>Personal Info</h3>
                        <hr/>
                    </div>
                    <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Email:</label>
                            <div class="col-lg-8">
                                {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <div class="isa_error">
                                                <i class="fa fa-times-circle"></i>
                                                {{ error|escape }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                <input class="form-control" readonly     name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">First name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" name="{{ form.firstname.name }}" value="{{ form.firstname.value|default_if_none:'' }}" type="text">
                                {% if form.firstname.errors %}
                                    {% for error in form.firstname.errors %}
                                        <div class="isa_error">
                                            <i class="fa fa-times-circle"></i>
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Last name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" name="{{ form.lastname.name }}" value="{{ form.lastname.value|default_if_none:'' }}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Your Brief Intro:</label>
                            <div class="col-lg-8">
                                <textarea type="textarea" id="user_bio" rows="3" name="user_bio" placeholder=" Your breif info " class="form-control input">{{ form.user_bio.value |default_if_none:'' }}</textarea>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-xs-offset-4 text-center">
                                <input class="btn btn-default" value="Update" type="submit"> <span class=""> &nbsp;</span><span class=""> OR </span><span class=""> &nbsp;</span>
                                <a class="btn btn-info" value="Update" type="" href="{% url "accounts:changepassword" %}">Change Password</a>
                            </div>
                        </div>
                        <hr/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}