{% extends "includes/default.html" %}
{% block pagetitle %}Setting New password{% endblock %}

{% block content %}
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-danger">
            <div class="panel-heading">
                SET NEW PASSWORD
            </div>
            <div class="panel-body">

           {% if validlink %}

                <p>Please enter your new password twice.<br />
                So we can verify you typed it in correctly.</p>
                <form action="" method="post">
                    {% csrf_token %}
                     <div class="form-group">
                        <label for="exampleInputEmail1">New Password</label>
                         <input type="password" class="form-control" name="{{ form.new_password1.name }}" value=""  id="exampleInputEmail1" placeholder="New Password">
                        {% if form.new_password1.errors %}
                                {% for error in form.new_password1.errors %}
                                    <div class="isa_error">
                                        <i class="fa fa-times-circle"></i>{{ error|escape }}
                                    </div>
                            {% endfor %}
                        {% endif %}
                     </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Confirm Password</label>
                         <input type="password" class="form-control" name="{{ form.new_password2.name }}" value=""  id="exampleInputEmail2" placeholder="Confirm Password">
                        {% if form.new_password2.errors %}
                                {% for error in form.new_password2.errors %}
                                    <div class="isa_error">
                                        <i class="fa fa-times-circle"></i>{{ error|escape }}
                                    </div>
                            {% endfor %}
                        {% endif %}
                     </div>
                    <div class="row text-center">
                        <button type="submit" class="btn btn-default">Save New password</button><span></span> <a class="btn btn-info" href="{% url "accounts:login" %}">Cancel</a>
                    </div>
                    </form>
               </div>
           </div>
       </div>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}


<form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>