{% extends 'includes/default.html' %}
{% block pagetitle %} User Register {% endblock %}
{% block breadcrum %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Sign-Up</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="col-sm-8 col-md-8 col-md-offset-2">
        <div class="row calendar"  style="">
            <div class="header"> Month Year </div>
            <div class="row">

                <div class="col-xs-8">
                    <div class="row">
                        <div class="btn btn-disabled date">MON</div>
                        <div class="btn date">TUE</div>
                        <div class="btn date">WED</div>
                        <div class="btn date">THU</div>
                        <div class="btn date">FRI</div>
                        <div class="btn date">SAT</div>
                        <div class="btn date">SUN</div>
                    </div>
                </div>
                <div class="col-xs-4">

                </div>
            </div>
        </div>
    </div>
{% endblock %}