{% load endless %}
{% load static from staticfiles %}

{% paginate object_list %}
{% for post in object_list %}
    <div class="blog-item">
        <div class="row">
            <div class="col-xs-12 col-sm-2 text-center">
                <div class="entry-meta">
                    <span id="publish_date">{{ post.publisheddate|date:"M d, Y" }}</span>
                    <span><i class="fa fa-user"></i> <a
                            href="{% url "authordetail" post.author.slug %}">{{ post.author.get_short_name }}</a></span>
                    <span><i class="fa fa-comment"></i> <a
                            href="blog-item.html#comments">{{ post.comment_count }}</a></span>
                    <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10 blog-content">
                <!--a href="#"><img class="img-responsive img-blog" src="images/blog/blog1.jpg" width="100%" alt="" /></a-->
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

                <h3>{{ post.content|truncatechars:200 }}</h3>
                <a class="btn btn-primary readmore" href="{{ post.get_absolute_url }}">Read More <i
                        class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div><!--/.blog-item-->
{% endfor %}
{% get_pages %}
{% if pages.paginated %}

    {{ pages }}

{% endif %}
