{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Blog | {% block headtitle %} Its My Tech Blog {% endblock %}</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="{%  static "blog/css/bootstrap.min.css" %}"  rel="stylesheet"/>
    <link href="{%  static "blog/css/font-awesome.min.css" %}"  rel="stylesheet"/>
    <link href="{%  static "blog/css/prettyPhoto.css" %}"  rel="stylesheet"/>
    <link href="{%  static "blog/css/animate.min.css" %}"  rel="stylesheet"/>
    <link href="{%  static "blog/css/main.css" %}"  rel="stylesheet"/>
    <link href="{%  static "blog/css/responsive.css" %}"  rel="stylesheet"/>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{%  static "blog/images/ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%  static "blog/images/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{%  static "blog/images/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%  static "blog/images/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{%  static "blog/images/ico/apple-touch-icon-57-precomposed.png" %}">
</head>
<body>

    {% include "elements/blog/header.html" %}

        <section id="blog" class="container">
        <div class="center">
            <h2>Blogs</h2>
            <!--p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada</p-->
        </div>

        <div class="blog">
            <div class="row">
                 <div class="col-md-8">
                    {% block content %}

                    {% endblock %}
                    <aside class="col-md-4">
                        <div class="widget search">
                            <form role="form" method="post" action="{% url "blog:startseacrh" %}">
                                {% csrf_token %}
                                <input type="text" name="search" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                            </form>
                        </div><!--/.search-->

                        <div class="widget categories">
                            <h3>Recent Posts</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    {% for recentpost in recentposts %}
                                        <div class="single_comments">
                                            <img src="{% static "blog/images/posticon.png" %}" alt=""  />
                                            <p><a href="{{ recentpost.get_absolute_url }}"> {{ recentpost.title }}</a></p>
                                            <div class="entry-meta small muted">
                                                <span>By <a href="{% url "authordetail" recentpost.author.slug %}">{{  recentpost.author.get_short_name }}</a></span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><!--/.recent comments-->


                        <div class="widget categories">
                            <h3>Categories</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="blog_category">
                                        {% for category in categories %}
                                            <li><a href="{% url "categorydetail" category.slug %}">{{ category.title }}<span class="badge">{{ category.liveposts }}</span></a> </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div><!--/.categories-->

                        <div class="widget archieve">
                            <h3>Archieve</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="blog_archieve">
                                    {{ slug }}
                                    {% for yeararchive in list_events %}

                                        {% for year , montharchive in yeararchive.items %}
                                            {% for month , postlists in montharchive.items %}
                                                {% if postlists %}
                                                    <li class=""><a class="" href="{% url "post_archive_month" year postlists.0.created|date:'F' %}"><i class="fa fa-angle-double-right"></i> {{postlists.0.created|date:"F"}} {{ year }} <span class="pull-right"> ({{postlists|length}}) </span></a>
                                                        <ul class="list-group" style="display: none"  >
                                                            {% for post in postlists %}
                                                                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}

                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div><!--/.archieve-->

                        <div class="widget tags">
                            <h3>Tag Cloud</h3>
                            <ul class="tag-cloud">
                                {% for tag in tags %}
                                    <li><a class="btn btn-xs btn-primary" href="{% url "tagdetail" tag.slug %}">{{ tag.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>
            </div><!--/.row-->
        </div>
        </div>
    </section><!--/#blog-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <!-- &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.-->
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static "blog/js/jquery.js" %}"></script>
    <script src="{% static "blog/js/bootstrap.min.js" %}"></script>
    <script src="{% static "blog/js/jquery.prettyPhoto.js" %}"></script>
    <script src="{%  static "blog/js/jquery.isotope.min.js" %}"></script>
    <script src="{% static "blog/js/main.js" %}"></script>
    <script src="{%  static "blog/js/wow.min.js" %}"></script>
    {% block extrajs %}{% endblock %}
    <script src="{%  static "blog/js/general.js" %}"></script>
</body>
</html>
