{% extends "includes/blog.html" %}
{% load endless %}
{% load static from staticfiles %}
{% block headtitle %}
    Blog
{% endblock %}
{% block pagetitle %}Blog Entries{% endblock %}
{%block extracss %}
	 <link href="{%  static "assets/css/todolist.css" %}"  rel="stylesheet"/>
{% endblock %}

{% block breadcrum %}
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Blog</li>
    </ul>
{% endblock %}

{% block content %}
    {% include "blog/includes/postlisting.html" with object_list=object_list %}
{% endblock %}